# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual studio files:
*.sln
*.filters
*.vcxproj
*.csproj

# Makefiles:
Makefile
*.make

# Visual studio cache/options:
.vs/

# Conan Dependencies:
dependencies/

# ImGui files:
imgui.ini

# Log files:
*.log

# Vcpkg:
vcpkg_installed/

# Build results
[Ii]ntermediate/
[Oo]ut/
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/